/teszt/nbproject/private/
/teszt/build/
/stringmethodgyak/nbproject/private/
/stringmethodgyak/build/
/dogajav/nbproject/private/
/rendszam_input/nbproject/private/
/rendszam_input/build/
/Metodusoksz/nbproject/private/
/Metodusoksz/build/
/Null_ertek/nbproject/private/
/Null_ertek/build/
/fajlbeolvasas/nbproject/private/
/fajlbeolvasas/build/
/fajlbeolvasas_szamok/nbproject/private/
/fajlbeolvasas_szamok/build/
/fajlbeolvasas_3/nbproject/private/
/fajlbeolvasas_3/build/
/Fajlbeolvasas_03_28/nbproject/private/
/Fajlbeolvasas_03_28/build/
/novenyek_objektum/nbproject/private/
/novenyek_objektum/build/
/valtozo_hatokor/nbproject/private/
/valtozo_hatokor/build/
/oroklodes/nbproject/private/
/oroklodes/build/
/allatoksz/nbproject/private/
/allatoksz/build/
/alakzatok/nbproject/private/
/alakzatok/build/
/october_05/nbproject/private/
/october_05/build/
/oraiFeladat/nbproject/private/
/oraiFeladat/build/
/objektumlista/nbproject/private/
/objektumlista/build/
/valasztas/nbproject/private/
/valasztas/build/
/Valasztas2/nbproject/private/
/Valasztas2/build/
