/teszt/nbproject/private/
/teszt/build/
/stringmethodgyak/nbproject/private/
/stringmethodgyak/build/
/dogajav/nbproject/private/
/rendszam_input/nbproject/private/
/rendszam_input/build/
/Metodusoksz/nbproject/private/
/Metodusoksz/build/
/Null_ertek/nbproject/private/
/Null_ertek/build/
/fajlbeolvasas/nbproject/private/
/fajlbeolvasas/build/
/fajlbeolvasas_szamok/nbproject/private/
/fajlbeolvasas_szamok/build/
/fajlbeolvasas_3/nbproject/private/
/fajlbeolvasas_3/build/
/Fajlbeolvasas_03_28/nbproject/private/
/Fajlbeolvasas_03_28/build/