/teszt/nbproject/private/
/teszt/build/
/stringmethodgyak/nbproject/private/
/stringmethodgyak/build/
/dogajav/nbproject/private/
/rendszam_input/nbproject/private/
/rendszam_input/build/
/Metodusoksz/nbproject/private/
/Metodusoksz/build/